
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.day{
    width: 400px;
    height: 200px;
    background-color: lightgray;
    color: black;
}

.night{
    width: 400px;
    height: 200px;
    background-color: black;
    color: white;
}

h1{
    font-size: 20px;
}